nav{
    background-color:#30336B;
}
.testClass{
background-color: white;
height: -webkit-fill-available;
}
ul a{
    color: white;
    font-weight: bolder;
}
.btn{
    color: white;
    font-weight: bolder;
}